<p class='chart__overline'>M F</p>
<p id='m-f--title' class='chart__chatter'>Prevalence of <mark class='mark--binge'>binge</mark> and <mark class='mark--heavy'>heavy</mark> drinking among all drinkers in the state.</p>
<svg class='m-f' xmlns="http://www.w3.org/2000/svg" width="338.256" height="128.416" viewBox="0 0 338.256 128.416" aria-role='img' aria-labelledby='m-f--title'>
	<path fill="#EFEFEF" d="M2.449 16.416h291v55h-291z"/>
  <text transform="matrix(1.02 0 0 1 0 8.7)">0</text>
  <text transform="matrix(1.02 0 0 1 36.96 8.7)">5</text>
  <text transform="matrix(1.02 0 0 1 70.96 8.7)">10</text>
  <text transform="matrix(1.02 0 0 1 107.92 8.7)">15</text>
  <text transform="matrix(1.02 0 0 1 141.8 8.7)">20</text>
  <text transform="matrix(1.02 0 0 1 178.76 8.7)">25</text>
  <text transform="matrix(1.02 0 0 1 214.17 8.7)">30</text>
  <text transform="matrix(1.02 0 0 1 251.13 8.7)">35</text>
  <text transform="matrix(1.02 0 0 1 289.62 8.7)">40%</text>
  <path fill="none" stroke="#CCC" stroke-miterlimit="10" d="M38.949 16.416v112m37-112v112m37-112v112m34-112v112m37-112v112m36-112v112m37-112v112m37-112v112m-291-1v-111" stroke-dasharray="2"/>
  <path fill="none" stroke="#EA7760" stroke-width="3" d="M156.449 33.916h32" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="156.631" cy="34" r="3.384" fill="#FFF"/>
  <path fill="#EA7760" d="M156.631 37.834c2.114 0 3.833-1.72 3.833-3.834s-1.72-3.834-3.833-3.834-3.834 1.72-3.834 3.834 1.72 3.834 3.834 3.834-2.114 0 0 0zm0-6.768c1.618 0 2.934 1.315 2.934 2.934s-1.316 2.934-2.934 2.934-2.934-1.315-2.934-2.934 1.316-2.934 2.934-2.934-1.618 0 0 0z"/>
  <circle cx="188.305" cy="34" r="3.384" fill="#EA7760"/>
  <path fill="none" stroke="#691A40" stroke-width="3" d="M85.449 49.916h19" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="85.553" cy="49.777" r="3.384" fill="#FFF"/>
  <path fill="#691A40" d="M85.553 53.611c2.114 0 3.833-1.72 3.833-3.834s-1.72-3.834-3.833-3.834-3.834 1.72-3.834 3.834 1.72 3.834 3.834 3.834-2.114 0 0 0zm0-6.767c1.618 0 2.934 1.315 2.934 2.934s-1.316 2.934-2.934 2.934-2.934-1.315-2.934-2.934 1.316-2.934 2.934-2.934c1.617 0-1.618 0 0 0z"/>
  <circle cx="103.817" cy="49.777" r="3.384" fill="#691A40"/>
  <path fill="none" stroke="#EA7760" stroke-width="3" d="M266.449 90.916h8" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="266.599" cy="90.533" r="3.384" fill="#FFF"/>
  <path fill="#EA7760" d="M266.599 94.367c2.113 0 3.834-1.721 3.834-3.834s-1.721-3.834-3.834-3.834c-2.114 0-3.834 1.721-3.834 3.834s1.719 3.834 3.834 3.834c2.113 0-2.115 0 0 0zm0-6.767c1.618 0 2.934 1.315 2.934 2.934s-1.315 2.934-2.934 2.934-2.934-1.315-2.934-2.934 1.315-2.934 2.934-2.934-1.619 0 0 0z"/>
  <circle cx="274.134" cy="90.533" r="3.384" fill="#EA7760"/>
  <path fill="none" stroke="#691A40" stroke-width="3" d="M104.449 107.916h6" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="104.328" cy="107.624" r="3.384" fill="#FFF"/>
  <path fill="#691A40" d="M104.328 111.458c2.114 0 3.833-1.72 3.833-3.834s-1.72-3.834-3.833-3.834-3.834 1.72-3.834 3.834 1.72 3.834 3.834 3.834-2.114 0 0 0zm0-6.768c1.618 0 2.934 1.315 2.934 2.934s-1.316 2.934-2.934 2.934-2.934-1.315-2.934-2.934 1.316-2.934 2.934-2.934-1.618 0 0 0z"/>
  <circle cx="110.521" cy="107.624" r="3.384" fill="#691A40"/>
  <path fill="none" d="M302.555 39.259h52.744v10.518h-52.744z"/>
  <text transform="matrix(1.02 0 0 1 302.56 45.18)">Women</text>
  <path fill="none" d="M302.555 97.107h52.744v7.89h-52.744z"/>
  <text transform="matrix(1.02 0 0 1 302.56 103.03)">Men</text>
  <path fill="none" stroke="#CCC" stroke-width="2" stroke-miterlimit="10" d="M2.449 72.416h291"/>
</svg>