<p class='chart__overline'><abbr title='Massachusetts'>Mass.</abbr> women</p>
<p id='ma-f--title' class='chart__chatter'>Prevalence of <mark class='mark--binge'>binge</mark> and <mark class='mark--heavy'>heavy</mark> drinking among drinking women in the state</p>
<svg class='ma-f' xmlns="http://www.w3.org/2000/svg" width="235.48" height="253.062" viewBox="0 0 235.48 253.062" aria-role='img' aria-labelledby='ma-f--title'>
		<text transform="translate(7.057 227.41)">0</text>
    <text transform="translate(7.9 200.224)">5</text>
    <text transform="translate(2.075 173.038)">10</text>
    <text transform="translate(2.918 145.85)">15</text>
    <text transform="translate(.308 118.665)">20</text>
    <text transform="translate(1.15 91.477)">25</text>
    <text transform="translate(.25 64.29)">30</text>
    <text transform="translate(1.095 37.103)">35
    </text>
    <text transform="translate(0 9.918)">40%</text>
    <path fill="none" stroke="#CCC" stroke-miterlimit="10" d="M31.883 223.993h190m-190-28h190m-190-27h190m-190-27h190m-190-27h190m-190-27h190m-190-28h190m-190-27h190m-190-27h190" stroke-dasharray="2"/>
    <text transform="translate(208.88 249.832)">2012</text>
    <text transform="translate(17.328 249.832)">2005</text>
    <polyline class='stroke--binge' fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="31.824,111.108 58.949,104.356 86.104,100.108 113.275,98.774 140.454,94.353 167.637,92.196 194.819,82.479 221.648,82.479"/>
    <polyline class='stroke--heavy' fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="32,163.828 59.383,160.838 86.666,158.391 113.902,151.92 141.112,152.192 168.312,152.41 195.656,144.198 223,144.742   
      "/>
    <path fill="none" stroke="#CCC" stroke-miterlimit="10" d="M32.283 227.493v10m189-10v10"/>
</svg>