<p class='chart__overline'><abbr title='Massachusetts'>Mass.</abbr></p>
<p id='ma-full--title' class='chart__chatter'>Prevalence of <mark class='mark--binge'>binge</mark> and <mark class='mark--heavy'>heavy</mark> drinking among all drinkers in the state</p>
<svg class='ma-full' xmlns="http://www.w3.org/2000/svg"  width="235.883" height="252.751" viewBox="0 0 235.883 252.751" aria-role='img' aria-labelledby='ma-full--title'>
	<text transform="translate(7.057 227.41)">0</text>
    <text transform="translate(7.9 200.224)">5</text>
    <text transform="translate(2.075 173.038)">10</text>
    <text transform="translate(2.918 145.85)">15</text>
    <text transform="translate(.308 118.665)">20</text>
    <text transform="translate(1.15 91.477)">25</text>
    <text transform="translate(.25 64.29)">30</text>
    <text transform="translate(1.095 37.103)">35
    </text>
    <text transform="translate(0 9.918)">40%</text>
  	<path fill="none" stroke="#CCC" stroke-miterlimit="10" d="M31.883 223.993h190m-190-28h190m-190-27h190m-190-27h190m-190-27h190m-190-27h190m-190-28h190m-190-27h190m-190-27h190" stroke-dasharray="2"/>
    <text transform="translate(208.88 249.832)">2012</text>
    <text transform="translate(17.328 249.832)">2005</text>
  	<polyline class='stroke--binge' fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="32,67.392 59.037,65.378 86.148,59.887 113.296,60.106 140.465,58.093 167.643,55.647 194.821,45.316 222,47.545"/>
    <polyline class='stroke--heavy' fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="31.648,159.479 59.193,159.479 86.379,153.609 113.564,147.523 140.751,150.732 167.938,151.628 194.969,142.698 221.824,144.943   
      "/>
  	<path fill="none" stroke="#CCC" stroke-miterlimit="10" d="M32.283 227.493v10m189-10v10"/>
</svg>