<p class='chart__overline'>MA US</p>
<p id='ma-us--title' class='chart__chatter'>Prevalence of <mark class='mark--binge'>binge</mark> and <mark class='mark--heavy'>heavy</mark> drinking among all drinkers in the state.</p>
<svg class='ma-us' xmlns="http://www.w3.org/2000/svg" width="331.751" height="128.708" viewBox="0 0 331.751 128.708" aria-role='img' aria-labelledby='ma-us--title'>
	<path fill="#EFEFEF" d="M2.449 16.416h291v55h-291z"/>
  <text transform="matrix(1.02 0 0 1 0 8.7)">0</text>
  <text transform="matrix(1.02 0 0 1 36.96 8.7)">5</text>
  <text transform="matrix(1.02 0 0 1 70.96 8.7)">10</text>
  <text transform="matrix(1.02 0 0 1 107.92 8.7)">15</text>
  <text transform="matrix(1.02 0 0 1 141.8 8.7)">20</text>
  <text transform="matrix(1.02 0 0 1 178.76 8.7)">25</text>
  <text transform="matrix(1.02 0 0 1 214.17 8.7)">30</text>
  <text transform="matrix(1.02 0 0 1 251.13 8.7)">35</text>
  <text transform="matrix(1.02 0 0 1 289.62 8.7)">40%</text>
  <path fill="none" stroke="#CCC" stroke-miterlimit="10" d="M38.725 16.708v112m37-112v112m37-112v112m34-112v112m37-112v112m36-112v112m37-112v112m37-112v112m-291-1v-111" stroke-dasharray="2"/>
  <path fill="none" d="M302.555 39.259h52.744v10.518h-52.744z"/>
  <text fill="#595859" transform="matrix(1.02 0 0 1 302.56 45.18)">Mass.
  </text>
  <path fill="none" d="M302.555 97.107h52.744v7.89h-52.744z"/>
  <text fill="#595859" transform="matrix(1.02 0 0 1 302.56 103.03)">U.S.</text>
  <path fill="none" stroke="#CCC" stroke-width="2" stroke-miterlimit="10" d="M2.225 72.708h291"/>
  <path fill="none" stroke="#EA7760" stroke-width="3" d="M217.225 34.208h20" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="217.059" cy="34.208" r="3.384" fill="#FFF"/>
  <path fill="#EA7760" d="M217.059 38.042c2.113 0 3.834-1.72 3.834-3.834s-1.721-3.834-3.834-3.834c-2.114 0-3.834 1.72-3.834 3.834s1.719 3.834 3.834 3.834c2.113 0-2.115 0 0 0zm0-6.768c1.618 0 2.934 1.315 2.934 2.934s-1.315 2.934-2.934 2.934-2.934-1.315-2.934-2.934 1.315-2.934 2.934-2.934-1.619 0 0 0z"/>
  <circle cx="236.841" cy="34.208" r="3.384" fill="#EA7760"/>
  <path fill="none" stroke="#691A40" stroke-width="3" d="M98.225 50.208h11" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="98.059" cy="50.208" r="3.384" fill="#FFF"/>
  <path fill="#691A40" d="M98.059 54.042c2.114 0 3.833-1.72 3.833-3.834s-1.72-3.834-3.833-3.834-3.834 1.72-3.834 3.834 1.72 3.834 3.834 3.834-2.114 0 0 0zm0-6.768c1.618 0 2.934 1.315 2.934 2.934s-1.316 2.934-2.934 2.934-2.934-1.315-2.934-2.934 1.315-2.934 2.934-2.934c1.617 0-1.619 0 0 0z"/>
  <circle cx="108.841" cy="50.208" r="3.384" fill="#691A40"/>
  <path fill="none" stroke="#EA7760" stroke-width="3" d="M226.225 90.208h11" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="226.059" cy="90.208" r="3.384" fill="#FFF"/>
  <path fill="#EA7760" d="M226.059 94.042c2.113 0 3.834-1.721 3.834-3.834s-1.721-3.834-3.834-3.834c-2.114 0-3.834 1.721-3.834 3.834s1.719 3.834 3.834 3.834c2.113 0-2.115 0 0 0zm0-6.768c1.618 0 2.934 1.315 2.934 2.934s-1.315 2.934-2.934 2.934-2.934-1.315-2.934-2.934 1.315-2.934 2.934-2.934-1.619 0 0 0z"/>
  <circle cx="236.841" cy="90.208" r="3.384" fill="#EA7760"/>
  <path fill="none" stroke="#691A40" stroke-width="3" d="M98.225 107.208h6" stroke-linecap="round" stroke-linejoin="round"/>
  <circle cx="98.059" cy="107.208" r="3.384" fill="#FFF"/>
  <path fill="#691A40" d="M98.059 111.042c2.114 0 3.833-1.721 3.833-3.834s-1.72-3.834-3.833-3.834-3.834 1.721-3.834 3.834 1.72 3.834 3.834 3.834-2.114 0 0 0zm0-6.768c1.618 0 2.934 1.315 2.934 2.934s-1.316 2.934-2.934 2.934-2.934-1.315-2.934-2.934 1.315-2.934 2.934-2.934c1.617 0-1.619 0 0 0z"/>
  <circle cx="103.841" cy="107.208" r="3.384" fill="#691A40"/>
</svg>