<p class='chart__overline'><abbr title='United States'>US</abbr></p>
<p id='use-full--title' class='chart__chatter'>Prevalence of <mark class='mark--binge'>binge</mark> and <mark class='mark--heavy'>heavy</mark> drinking among all drinkers nationwide</p>
<svg class='us-full' xmlns="http://www.w3.org/2000/svg" width="235.48" height="253.062" viewBox="0 0 235.48 253.062" aria-role='img' aria-labelledby='us-full--title'>
  	<text transform="translate(7.057 227.41)">0</text>
    <text transform="translate(7.9 200.224)">5</text>
    <text transform="translate(2.075 173.038)">10</text>
    <text transform="translate(2.918 145.85)">15</text>
    <text transform="translate(.308 118.665)">20</text>
    <text transform="translate(1.15 91.477)">25</text>
    <text transform="translate(.25 64.29)">30</text>
    <text transform="translate(1.095 37.103)">35
    </text>
    <text transform="translate(0 9.918)">40%</text>
    <path fill="none" stroke="#CCC" stroke-miterlimit="10" d="M31.883 223.993h190m-190-28h190m-190-27h190m-190-27h190m-190-27h190m-190-27h190m-190-28h190m-190-27h190m-190-27h190" stroke-dasharray="2"/>
    <text transform="translate(208.88 249.832)">2012</text>
    <text transform="translate(17.328 249.832)">2005</text>
    <polyline class='stroke--binge' fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="30.883,59.925 58.266,59.326 85.549,53.999 112.786,54.867 139.996,53.128 167.195,51.062 194.54,42.309 221.883,45.299"/>
    <polyline class='stroke--heavy' fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="31.883,155.35 58.984,153.229 86.128,149.15 113.294,147.682 140.47,149.096 167.65,148.228 194.768,140.233 221.883,143.604    
      "/>
    <path fill="none" stroke="#CCC" stroke-miterlimit="10" d="M32.283 227.493v10m189-10v10"/>
</svg>